* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}



.input {
    background-color: #212529;
    max-width: 100%;
    height: 40px;
    padding: 10px;
    /* text-align: center; */
    border: 2px solid white;
    border-radius: 5px;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
}

.input:focus {
    color: rgb(0, 255, 255);
    background-color: #212529;
    outline-color: rgb(0, 255, 255);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    transition: .1s;
    transition-property: box-shadow;
}

.buttonCrear {
    width: 10em;
    position: relative;
    height: 2.5em;
    border: 3px ridge rgb(0, 255, 255);
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
}

.buttonCrear::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212529;
    transition: 0.5s;
    transform-origin: center;
}

.buttonCrear::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212529;
    transition: 0.5s;
}

.buttonCrear:hover::before,
.buttonCrear:hover::after {
    transform: scale(0)
}

.buttonCrear:hover {
    box-shadow: inset 0px 0px 25px rgb(0, 255, 255);
}